In [ ]:
age=45
salary=1458.9
name="john"
print(age)
print(salary)
print(name)

45
1458.9
john

In [ ]:
a=3
b=3
print(a**b)

27

In [ ]:
a=4
b=3
print(a**b)

64

In [ ]:
a=5
b=2
c=5
print(a-b-c)

-2

In [ ]:
a=-6
b=3
print(a/b)
print(a%b)

-2.0
0

In [ ]:
a=3
b=2
print(a**b)

9

In [ ]:
lis2=['apple','123','123.45']
print(len(lis))
print(len(lis2))
lis3=lis+lis2
print(lis3)
print(len(lis3))

3
3
['gan', '123', '30.46', 'apple', '123', '123.45']
6

In [ ]:
lis2.append('hhh')
lis2

['apple', '123', '123.45', 'hhh']

In [ ]:
lis2[0]

'apple'

In [ ]:
lis=['gan','123','30.46']
type(lis)

list

In [ ]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))

        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide

In [ ]:
l1=["anu",23,112233]
print(l1[2])
print(l1[-2])

In [ ]:
a=81
cuberoot=a**(1/3)
print(cuberoot)

4.3267487109222245

In [ ]:
def cube_root(x):
    if x < 0:
        x = abs(x)
        cube_root = x**(1/3)*(-1)
    else:
        cube_root = x**(1/3)
    return cube_root

print("Cube root of 181:",cube_root(181))

print("\nCube root of 21:",cube_root(21))

print("\nCube root of 81:",cube_root(81))

print("\nCube root of 27:",cube_root(27))

Cube root of 181: 5.65665282582291

Cube root of 21: 2.7589241763811203

Cube root of 81: 4.3267487109222245

Cube root of 27: 3.0

In [ ]:


import math
math.sqrt(2)

1.4142135623730951